* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Lucida Grande";
    margin: 0px;
    padding: 0px;
  }
  
  .header {
    width: 1350px;
    height: 110px;
    background-color: brown;
    color: blue;
    padding: 0px 20px;
    top: 0px;
     background-color:rgba(34, 49, 52, 0.9);
    z-index: 10;
  }
  .header-logo {
    font-size: 40px;
    margin-top: 5px;
    padding-top: 25px;
    background-color: none;
    margin-left: 0xpx;
    float: left;
  }

  .header-list {
    margin: auto;
    
    padding-right: 70px;
    text-align: center;
    
  }

  li {
    float: left;
    margin: auto;
    padding: 48px 0 0 160px;
    font-size: 20px;
    display: block;
    position: sticky;
    color:#5dca88
  }
  

  .log-in {
    background-color: brown;
    float: right;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 70px;
    margin-bottom: 10px;
    margin-top: 25px;
  }

  .log-in:hover {
    background-color: rgba(255, 255, 255, 0.5);
    position: block;
    cursor: pointer;
  }

  .header-list a {
    line-height: 65px;
    padding: 0 25px;
    color: brown;
  }

  .top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
    background-size: cover;
    color: white;
    text-align: center;
  }

  .container {
    width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
  }

  h1 {
    margin-bottom: 0;
    letter-spacing: 5px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .btn-wrapper {
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .signup {
    background-color: #239b76;
  }

  .list-wrapper {
   text-align: center;
   margin-left: 150px;
  }

  .container h2 {
    text-align: center;
    font-size: 30px;
  }

  .list-wrappers {
    width: 25%;
  }

  img {
   width: 25%;
   margin: 25px;
   float: left;
   flex-direction: column;
  }

  .text-content {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #b3aeb5;
  }

  .text-content p {
    font-size: 20px;
  }

  .slogan-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
    margin-top: 100px;

  .heading h1 {
    text-align: center;
  }
  }
  .list-item {
    padding: 50px 0 50px 0;
    margin-bottom: 50px;
    font-size: 25px;
    display: flex;
    position: flexible;
    text-align: center;
  }
  }

  .container h1 {
    font-size: 40px;
    position: flexible;
    padding-bottom: 380px;
    justify-content: left;
  }

  .btn-message {
    background-color: #5dca88
   
  .span {
    color: red;
    font-size: 40px;
  }
  
  .btn-message:active {
    font-size: 40px;
    position: relative;
    cursor: pointer;
  }


  .footer {
    width: 125px;
    padding-left: 100px;
  }

  .container p {
    font-size: 15px;
    
    padding: 50px 900px 400px 50px;
  }

  h1 {
    float: left;
  }
  footer {
  float: left;
  height: 150px;
  background-image: brown;
}
